.page-footer {
  padding-top: 32px;
  padding-bottom: 16px;
  color: $text-white;
  background-color: $main-color ;

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 32px 0;
  }

  &__col-logo {
    @include col(xs, 12);
    @include col(xl, 3, $grid-columns, 24px);

    .social-links {
      margin-top: 24px;
    }
  }

  &__col-contacts {
    @include col(xs, 12);
    @include col(xl, 4, $grid-columns, 24px);
  }

  &__col-text {
    @include col(xs, 12);
    @include col(xl, 5, $grid-columns, 24px);

    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }

  &__contacts-item {

    & + & {
      margin-top: 12px;
    }
  }

  &__contacts-link {
    display: inline-flex;
    padding: 4px 0;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {

      &:not(span) {
        text-decoration: underline;
        color: $main-light--hover;
      }
    }
  }

  &__text {
    margin-bottom: 0;
    font-size: $font-size-sm;
  }

  &__founders {
    display: flex;
    flex-direction: column;
    gap: 16px 32px;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      //flex-wrap: wrap;
      align-items: center;
    }
  }
}
